.half-circle {
  margin: 0 1em 1em 0;
}

.desert-ground {
  background: red;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

.forest-ground {
  background: #228B22;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}